doctype html    
html(lang="es") 
   head
      title Calculadora con Node y Express
      meta(charset="utf-8")
   body
      h1 Calculadora
      form(id="calc",method="POST",action="/")
         input(type="number", name="num1",id="num1")
         input(type="text", name="operacion",id="operacion")
         input(type="number",name="num2",id="num2")
         input(type="submit",value="Calcular")
         
      input(type="submit",value="Limpiar",method="PUT")
         
         
